.projects-page {
    background-color: #fdfefe;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    width: 100%;
}

.projects-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.projects-header h1 {
    font-size: 3rem;
    font-weight: 500;
    margin: 10px;
}

.projects-header p{
    margin: 0px;
}

.projects-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    /* width: 100%; */
    margin: 3rem auto;
}